.container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.image {
  width: 64px;
  filter: brightness(0) saturate(100%) invert(92%) sepia(22%) saturate(6985%) hue-rotate(354deg) brightness(103%) contrast(92%);
}
.name {
  color: white;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1px;
}