.container {
  height: calc(100dvh - 7.2rem);
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr min-content;
  align-items: center;
  padding-bottom: 4.8rem;
}
@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}